.hero {
  display: flex;
  position: relative;
  background: url("https://images.pexels.com/photos/7014337/pexels-photo-7014337.jpeg")
    no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 50rem;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 2px 2px 4px #000;

  &__container {
    width: 100%;
    display: flex;
  }

  &__overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  &__content {
    z-index: 100;
  }

  &__text-1 {
    font-size: 2.7rem;
  }

  &__text-2 {
    font-size: 7.5rem;
    font-weight: 600;
    margin-left: -3px;
  }

  &__text-3 {
    font-size: 4rem;
    margin: 0.5rem 0;

    &-static {
      display: block;
      color: #fff;
      font-weight: 500;
      @include atLarge {
        display: inline-block;
      }
    }

    & .typing {
      color: $primary;
    }

    & .typed-cursor {
      color: #fff;
    }
  }

  &__btn {
    display: inline-block;
    background: $primary;
    color: #fff;
    font-size: 2.5rem;
    padding: 1.2rem 3.6rem;
    margin-top: 2rem;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid $primary;
    transition: all 0.3s ease;
    text-shadow: none;
  }

  &__btn:hover {
    color: $primary;
    background: none;
  }
}
