.columns {
  margin-top: 5rem;
  gap: 5rem;
  display: flex;
  flex-direction: column;
  @include atLarge {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__25 {
    width: 20%;
  }

  &__33 {
    width: 33%;
  }

  &__66 {
    width: 66%;
  }

  &__center-aligned {
    display: flex;
    align-items: center;
  }

  &__center-justified {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
