.card {
  background: $background-darkish;
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;

  @include atLarge {
    width: calc(33% - 20px);
  }

  &__box {
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__box:hover {
    transform: scale(1.05);
  }
}

.card:hover {
  background: $primary;
}
