$background: #fff;
$background-dark: #2f5061;
$background-darkish: #596b75;
$primary: #ff8882;
$secondary: #c9eee8;
$secondary-dark: #00c4cc;

$header-font: "Ubuntu", serif;
$text-font: "Open Sans", sans-serif;
